<nav class="navbar navbar-expand-lg mynavbar">
    <a class="navbar-brand" href="#">
      <h2 style="font-weight: 800; color: #fff;">Top...</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul style="font-weight: 600; color: #fff;" class="navbar-nav ml-auto">
        <li class="nav-item nav-li">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item nav-li">
          <a class="nav-link" href="#">Works</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div style="display: block; margin: 150px auto; color: #fff;   font-family: 'Dancing Script', cursive; position: relative;   z-index: 2;" >
      <h3 style=" text-align: center; margin: 20px 30px;">
     <span class="name-txt" style="">   I'm Taiwo Oluwatobi Peter,</span>
        <br>
        <span class="desc-txt" style="">
        a frontend Developer 
      </span>
    </h3>
        <h3  style="text-align: right;margin: 20px 10px;">
    
        
       <!-- <br> 
        Technologies such: HTML, CSS
  
        <br>
       javaScript, Angular 8
        <br>
       Firebase  -->
        
      </h3>

      
    </div>
  </div>

</div>